@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);
header {
    width: 100%;
    padding: 20px 0px;
    border-bottom: 2px solid black;
    margin: 0px auto;
    background: white;
}

#header-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0px auto;
    padding: 20px 0px;
}

#header-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
}

#header-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25%;
}

#header-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
}

#logo img,
#circle-icon img {
    max-width: 120px;
}

#circle-icon {
    position: absolute;
    top: 50px;
    background-color: white;
    border: 10px solid white;
    border-radius: 50%;
}

#hamburger-menu,
#logo,
#refresh-icon,
#help-icon {
    cursor: pointer;
    padding: 5px;
}

body {
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    color: #333;
    font-weight: 300;
    text-align: center;
    background-color: white;
}

.title {
    font-weight: bold;
    font-size: 4em;
    color: #236192;
    margin-bottom: 20px;
}

.icon {
    margin-bottom: 40px;
}

.question {
    font-size: 30px;
    margin-bottom: 40px;
}

.answers {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}

.answers label {
    display: block;
    padding: 10px;
    border: 2px solid black;
    border-radius: 2px;
    font-size: 0.7em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px;
}

button {
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #38a;
}

.disclaimer {
    font-weight: 300;
    margin: 0px;
    padding: 10px;
    font-size: 16px;
    background-color: #444;
    color: #fff;
}


/* Pagination */

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s;
}

.active-slide {
    opacity: 1;
    z-index: 2;
}

.quiz-container {
    position: relative;
    height: auto;
    margin: 15vh auto;
}

#quiz {
    height: 50vh;
}