@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);
.hidden {
    display: none;
}


/*** HEADER ***/

header {
    width: 100%;
    padding: 20px 0px;
    border-bottom: 2px solid black;
    margin: 0px auto;
    background: white;
}

#header-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0px auto;
    padding: 20px 0px;
}

#header-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
}

#header-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25%;
}

#header-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
}

#logo img {
    max-width: 200px;
}

#circle-icon img {
    max-width: 120px;
}

#circle-icon {
    position: absolute;
    top: 50px;
    background-color: white;
    border: 10px solid white;
    border-radius: 50%;
}

#hamburger-menu rect {
    fill: #333;
}

#hamburger-menu,
#logo,
#refresh-icon,
#help-icon {
    cursor: pointer;
    padding: 5px;
}


/*** BODY ***/

body {
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    color: #333;
    font-weight: 300;
    text-align: center;
    background-color: white;
}

.title {
    font-weight: bold;
    font-size: 4em;
    color: #236192;
    margin-bottom: 20px;
}

.icon {
    margin-bottom: 40px;
}

.question {
    font-size: 30px;
    margin-bottom: 40px;
}

.answers {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}

.answers label {
    display: block;
    padding: 10px;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 0.7em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px;
    cursor: pointer;
}

.answers label:hover {
    transform: scale(110%);
    transition: .2s;
}

button {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #236192;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    padding: 15px 40px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #236292de;
    transform: scale(110%);
    transition: .2s;
}

.disclaimer {
    font-weight: 300;
    margin: 0px;
    padding: 10px;
    font-size: 16px;
    background-color: #444;
    color: #fff;
}


/* Pagination */

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s;
}

.active-slide {
    opacity: 1;
    z-index: 2;
}

.quiz-container,
#results {
    position: relative;
    height: auto;
    margin: 15vh auto;
    transition: .5s;
}

#quiz {
    height: 50vh;
}


/*** NAVIGATION ***/

#questionNav {
    display: flex;
    font-size: 1em;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    margin: 40px auto;
}

#questionNavText {
    color: gray;
    text-transform: uppercase;
    font-weight: bold;
}

#questionNavNumbers {
    display: flex;
    flex-direction: revert;
    justify-content: space-between;
    align-items: center;
}

.navNumber {
    margin-right: 5px;
    line-height: 1.5em;
    width: 1.5em;
    height: 1.5em;
    color: gray;
    cursor: pointer;
}

.navNumber:hover {
    color: black;
    transition: .2s;
}

.active-number {
    color: black;
    font-weight: bold;
    transition: 0.2s;
}